@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

input {
  background-color: #b99c65d0;
  border-radius: 10px;
  size: 100px;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: #000;
}

h1 {
  color: #000;
  display: flex;
  justify-content: center;
}

div {
  /* background-color: #574331; */
  border-radius: 10px;
  padding: 6px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

form>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form>div>label,
div>form>label {
  color: #000;
  font-weight: bold;
}

form>button,
form>div>button {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  background-color: #7a653ee8;
  font-weight: bold;
  margin-top: 15px;
  border: 100px;
  color: black;
}

.cadastro .aafolou{
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  width: 250px;
}

.cadastro .logar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cadastro .logar .links,
.cadastro .logar .registro_pet{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 0px;
}

.cadastro .logar .links a,
.cadastro .logar .registro_pet a {
  text-decoration: none;
  color: #3E2723;
  font-weight: 700;
  transition: text-decoration 0.2s;
  padding-bottom: 3px;
}

.cadastro .logar .links a:hover,
.cadastro .logar .registro_pet a:hover {
  text-decoration: underline;
}

.cadastro .logar .btn_login{
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: large;
}

.cadastro .logar .btn_login img {
  width: 60px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding-bottom: 40px;
}

.titulo img {
  padding-left: 10px;
}

footer p{
  padding: 36px 0;
  color: black;
}

.pesquisar_conta{
  background-color: #6d553c;
  max-height: 1200px;
}

.pesquisar_conta .esqueci .label{
  display: flex;
  align-items: center;
  max-width: auto;
}

.pesquisar_conta .esqueci .input{
  width: 300px;
}

.esqueci {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  background-color: #7a653ee8;
  font-weight: bold;
  margin-top: 15px;
  border: 100px;
  color: black;
  width: 100px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}