@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

input {
  background-color: #b99c65d0;
  border-radius: 10px;
  size: 100px;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: #000;
}

h1 {
  color: #000;
  display: flex;
  justify-content: center;
}

div{
  /* background-color: #574331; */
  border-radius: 10px;
  padding: 6px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

form>div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form>div>label {
  color: #000;
  font-weight: bold;
}

form>button {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  background-color: #7a653ee8;
  font-weight: bold;
  margin-top: 15px;
  border: 100px;
  color: #0000;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}